<header>
    <nav>
    <div align="center">
    
       
        <h1>&nbsp;&nbsp;&nbsp; Library Services  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
    
            <a href="https://www.instagram.com/ text-align:right" style="color:black"> <i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/" style="color:black"> <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.java.com/en/" style="color:green"> <i class="fa-brands fa-java"></i></a>
        </h1>
    
    
      
   
</div>
</nav>
</header>