<form>
    <div class="container">
      <h1>Contact</h1>
      <p>If You Want Any Doughts My Team Will Respond You.</p>
      <hr>
  
      <label for="name"><b>Your Name</b></label>
      <input type="text" placeholder="Enter Your Name" name="name" id="name" required><br><br>
  
      <label for="email"><b>Enter Your Email</b></label>
      <input type="text" placeholder="Enter Your Email" name="email" id="email" required><br><br>
  
      <label for="subject"><b>Subject</b></label>
      <input type="subject" placeholder="Subject" name="subject" id="subject" required><br><br>

      <label for="message">Your message :</label>
      <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
      
    </div>
  
  </form>