<div align="center">
  
    <app-header></app-header>
    <br>
  </div>
  
  <nav>
    <h2> Under Services Here : </h2><br>
    <button type="button" class="btn btn-warning">
    <a routerLink="insert"> Add Book</a></button> &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-warning">
    <a routerLink="deletebook"> Delete Book</a> </button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-warning">
    <a routerLink="update"> Update Book</a></button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-warning">
    <a routerLink="viewdetails"> View Records</a> </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
    
   
    <button type="button" class="btn btn-danger">
    <a routerLink="login"> Sign in</a></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-danger">
    <a routerLink="contact"> Contact us</a></button>
  </nav>
  
  
  <router-outlet></router-outlet>
  <div align="center">
  <div class ="demo2"><img src="" alt=""></div>
  </div>