<div align = "center">
    <h3 class="s10"> <u><b>View Books Records</b></u></h3><br>
             <table border="1" align = "center">
                         <thead class="s11">           
                                <tr>
                                <th>Book Id </th>
                                <th>Book Name</th>
                                <th>Book Price </th>
                                
                              </tr>
                              
                         </thead>
                         <tbody>
                         
                              <tr *ngFor="let d of data">
                                    <td> {{d.bid}} </td>
                                    <td> {{d.bname}} </td>
                                    <td> {{d.bprice}} </td>
                                    
                              </tr>
                         
                        </tbody>
             </table>
    </div>